apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: chi-cluster
  namespace: clickhouse
spec:
  configuration:
    clusters:
    - name: data
      layout:
        shardsCount: 2
        replicasCount: 2
  templates:
    volumeClaimTemplates:
    - name: data
      spec:
        storageClassName: local-gp3
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 10Gi
    podTemplates:
    - name: default
      spec:
        containers:
        - name: clickhouse
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 2Gi

